.header-row{
	border-bottom: 4px solid #bfbfbf;
}
.content-row{
	background-color: #efefef;
}
.button-row button{
	border-bottom: 4px solid #2b8ead;
	border-radius: 5px;
	background-color: #72c3dc;
	color:#fff;
	margin: 8px 0;
}
.box-row .box span{
	font-size: 70px;
	color: #ffffff;
}
.box-row .box{
	height: 100px;
}
.box-row .box.box-1,
.box-row .box.box-8{
	background-color: #6f98a8
}
.box-row .box.box-2,
.box-row .box.box-4{
	background-color: #2b8ead
}
.box-row .box.box-3,
.box-row .box.box-5,
.box-row .box.box-9{
	background-color: #2f454e
}
.box-row .box.box-7,
.box-row .box.box-6{
	background-color: #bfbfbf
}

@media screen and (max-width: 991px) {
	.header-row{
		color: #ffffff;
		background-color: #333333;
		padding: 0 0 8px 0;
		border-bottom: 0 none;
	}
	.content-row{
		background-color: #ffffff;
		margin: 8px 0 0 0;
	}
	.box-row .box{
		display: inline-block;
		height: 35px;
		margin: 0 0 5px 0;
		padding: 0;
		width:100%;
	}
	.box-row .box span{
		color: black;
		display: block;
		width: 330px;
		position: relative;
		background-color: #efefef;
		margin: 0 0 0 5px;
		text-align: center;
		height: 100%;
		padding: 6px 0 0 0;
		width:100%;
		font-size: 15px;
	}
}